- content_for :pagetitle do 
  Trailer
  = trailer.name.titleize
.row-fluid
  .mws-panel.grid_2.pull-right
    - unless trailer.photo.blank?
      = image_tag trailer.photo.large_thumb, :width => '500', :class => 'img-polaroid'
    - else
      = image_tag 'myicons/trailer-icon.png', :width => '500', :class => 'img-polaroid'
  .mws-panel.grid_6
    .mws-panel-header
      = link_to 'Edit', edit_users_trailer_path(trailer), :class => 'btn btn-info pull-right'
      %span
        Trailer -
        = trailer.name.titleize
    .mws-panel-body.no-padding
      %ul.mws-summary.clearfix
        %li
          %span.key
            = t(:name)
          %span.val
            %span.text-nowrap= trailer.name
        %li
          %span.key
            = t(:annual_inspection_pdf)
          %span.val
            %span.text-nowrap
              - unless trailer.annual_inspection_pdf.blank?
                = link_to t(:annual_inspection_pdf), trailer.annual_inspection_pdf_url, :target => '_blanl'
              - else
                %span{:style => 'color:#F00'}= t(:annual_inspection_pdf)
        %li
          %span.key
            = t(:insurance_pdf)
          %span.val
            %span.text-nowrap
              - unless trailer.insurance_pdf.blank?
                = link_to t(:insurance_pdf), trailer.insurance_pdf_url, :target => '_blanl'
              - else
                %span{:style => 'color:#F00'}= t(:insurance_pdf)
        %li
          %span.key
            = t(:registration_pdf)
          %span.val
            %span.text-nowrap
              - unless trailer.registration_pdf.blank?
                = link_to t(:annual_inspection_pdf), trailer.registration_pdf_url, :target => '_blanl'
              - else
                %span{:style => 'color:#F00'}= t(:registration_pdf)
        %li
          %span.key
            = t(:trailer_type)
          %span.val
            %span.text-nowrap= trailer.trailer_type
        %li
          %span.key
            = t(:length)
          %span.val
            %span.text-nowrap= trailer.length
        %li
          %span.key
            = t(:width)
          %span.val
            %span.text-nowrap= trailer.width
        %li
          %span.key
            = t(:height)
          %span.val
            %span.text-nowrap= trailer.height
        %li
          %span.key
            = t(:gross_vehicle_weight_rating)
          %span.val
            %span.text-nowrap= trailer.gross_vehicle_weight_rating
        %li
          %span.key
            = t(:suspension)
          %span.val
            %span.text-nowrap= trailer.suspension
        %li
          %span.key
            = t(:axle_capacity)
          %span.val
            %span.text-nowrap= trailer.axle_capacity
        %li
          %span.key
            = t(:wheels)
          %span.val
            %span.text-nowrap= trailer.wheels
        %li
          %span.key
            = t(:tires)
          %span.val
            %span.text-nowrap= trailer.tires
        %li
          %span.key
            = t(:vin)
          %span.val
            %span.text-nowrap= trailer.vehicle_identification_number
        %li
          %span.key
            = t(:tag)
          %span.val
            %span.text-nowrap= trailer.vehicle_tag
        %li
          %span.key
            = t(:year_build)
          %span.val
            %span.text-nowrap= trailer.year_build
        %li
          %span.key
            = t(:manufacturer)
          %span.val
            %span.text-nowrap= trailer.manufacturer

%a{:name => "notes"}
.mws-panel.grid_6
  .mws-panel-header
    %span
      Notes
  .mws-panel-body.no-padding
    %ul.mws-summary.clearfix
      - Comment.where(:commenter_type => 'trailer').where(:commenter_id => trailer.id).order('id DESC').each do |c|
        %li
          %span.key
            - if c.user.photo_url
              = image_tag c.user.photo.thumb, :alt => c.user.full_name, :width => 25
            - else
              = image_tag '/assets/example/profile.jpg', :alt => c.user.full_name, :width => 25
            = c.user.name.titleize
          %span.val
            %span.text-nowrap
              =raw c.note

              .pull-right= c.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%D %r')
        .clear
.clear
.row-fluid
.mws-panel.grid_12
  .mws-panel-header
    %span Add Notes
  .mws-panel-body
    = form_for comment, :url => comments_path(:commenter_type => "trailer", :commenter_id => trailer.id) do |f|
      .mws-form-row
        %label.mws-form-label
          Note
        .mws-form-item
          = f.text_area :note, :class => 'cleditor'
        %br
        = f.button :submit, :class => 'btn btn-info'
