- content_for :pagetitle do
  Home
/ Slider Wrap
.slider-wrap{:style => 'background-color:#FFF;'}
  / LayerSlider begin
  .layerslider{"data-hover-bottom-nav" => "true", "data-show-bar-timer" => "true", "data-show-circle-timer" => "false", :style => "height: 440px;"}
    / LayerSlider layer (Hot Air Balloon)
    .ls-layer{:style => "slidedelay: 6000; delayout: 500; transition2d: all;"}
      / LayerSlider background
      %img.ls-bg{:alt => "", :src => "/assets/demo/slides/dynamic/bg_1.jpg"}/
      / LayerSlider sublayers
      %img.ls-s-1{:alt => "", :rel => "slidedirection: left; scalein: 0.2; durationout: 2000; scaleout: 0.5; durationin: 4000; durationout: 2000;", :src => "/assets/demo/slides/dynamic/balloon.png", :style => "left: 160px; top: 50px;"}/
      .ls-s-1{:rel => "slidedirection: fade; slideoutdirection: fade; delayin: 2000; scalein: 2; durationin: 1500;", :style => "padding: 10px 20px; border-radius: 3px; background-color: #333333; font-size: 26px; font-weight: 300; white-space: nowrap; color: #ffffff; left: 620px; top: 100px;"}
        We are Go Trucker Go
      .ls-s-1{:rel => "delayin: 3000; slidedirection: fade; slideoutdirection: bottom;", :style => "left: 620px; top: 175px; font-size: 14px; line-height: 25px; white-space: nowrap; color: #FFF; background-color: #333333; padding:10px;"}
        = raw t(:slide_pitch1)
    / LayerSlider layer (Girl with iPad)
    .ls-layer{:style => "slidedelay: 6000; delayout: 1200; transition2d: all;"}
      / LayerSlider background
      %img.ls-bg{:alt => "", :src => "/assets/demo/slides/dynamic/bg_2.jpg"}/
      / LayerSlider sublayers
      %img.ls-s-1{:alt => "", :rel => "slidedirection: bottom; slideoutdirection: bottom; durationout: 750; durationin: 750; delayin: 750; delayout: 1000;", :src => "/assets/demo/slides/dynamic/girl.png", :style => "left: 382px; top: 60px;"}/
      %img.ls-s-1{:alt => "", :rel => "slidedirection: right; slideoutdirection: right; durationout: 750; durationin: 750; delayout: 1000;", :src => "/assets/demo/slides/dynamic/imac.png", :style => "left: 687px; top: 100px;"}/
      %img.ls-s-1{:alt => "", :rel => "slidedirection: top; slideoutdirection: right; durationout: 750; durationin: 750; delayin: 500; delayout: 1000;", :src => "/assets/demo/slides/dynamic/iphone.png", :style => "left: 697px; top: 260px;"}/
      .ls-s-1{:rel => "slidedirection: fade; slideoutdirection: left; delayin: 1500; delayout: 1000; durationin: 500; durationout: 500;", :style => "padding: 10px 20px; border-radius: 3px; background-color: #ffffff; font-size: 26px; color: #181818; white-space: nowrap; left: 80px; top: 90px;"}
        What can you do with Go Trucker Go?
      .ls-s3.accent{:rel => "slidedirection: fade; scalein: 0; delayin: 1500; delayout: 750; scaleout: 3;", :style => "font-size: 18px; left: 239px; top: 108px;"}
        -#%i.icon-heart
      .ls-s-1{:rel => "slidedirection: bottom; slideoutdirection: bottom; delayin: 2500; durationin: 250; durationout: 400; delayout: 800;", :style => "font-size: 14px; color: #FFF; left: 90px; top: 172px; background-color: #333333; padding:10px;"}
        %span{:style => "margin-right: 5px;"}
          %i.icon-ok-2
        Manage your trucks, trailers, drivers, and brokers
      .ls-s-1{:rel => "slidedirection: bottom; slideoutdirection: bottom; delayin: 2700; durationin: 250; durationout: 400; delayout: 600;", :style => "font-size: 14px; color: #FFF; left: 90px; top: 206px; background-color: #333333; padding:10px;"}
        %span{:style => "margin-right: 5px;"}
          %i.icon-ok-2
        Manage booked loads
      .ls-s-1{:rel => "slidedirection: bottom; slideoutdirection: bottom; delayin: 2900; durationin: 250; durationout: 400; delayout: 400;", :style => "font-size: 14px; color: #FFF; left: 90px; top: 240px; background-color: #333333; padding:10px;"}
        %span{:style => "margin-right: 5px;"}
          %i.icon-ok-2
        Keep track of trucks performance
      .ls-s-1{:rel => "slidedirection: bottom; slideoutdirection: bottom; delayin: 3100; durationin: 250; durationout: 400; delayout: 200;", :style => "font-size: 14px; color: #FFF; left: 90px; top: 274px; background-color: #333333; padding:10px;"}
        %span{:style => "margin-right: 5px;"}
          %i.icon-ok-2
        Keep track of accounts receivable
    / LayerSlider layer (Browsers)
    .ls-layer{:style => "slidedelay: 6000; delayout: 1200; transition2d: all;"}
      / LayerSlider background
      %img.ls-bg{:alt => "", :src => "/assets/demo/slides/dynamic/bg_31.jpg"}/
      / LayerSlider sublayers
      %img.ls-s-1{:alt => "", :rel => "slidedirection: top; slideoutdirection: right; rotateout: 180; rotatein: -360; durationout: 1500; durationin: 2000; delayin: 1500; delayout: 1000; easingin: easeOutBounce;", :src => "/assets/demo/slides/dynamic/chrome.png", :style => "left: 222px; top: 280px;"}/
      .ls-s3{:rel => "slidedirection: fade; scalein: 4; delayin: 4000; easingin: easeOutExpo;", :style => "left: 216px; top: 385px; color: #ffffff; font-size: 13px; padding: 5px 10px;"}
        Chrome
      %img.ls-s-1{:alt => "", :rel => "slidedirection: top; slideoutdirection: right; rotateout: 180; rotatein: 360; durationout: 1500; durationin: 2000; delayin: 2000; delayout: 1000; easingin: easeOutBounce;", :src => "/assets/demo/slides/dynamic/firefox.png", :style => "left: 342px; top: 280px;"}/
      .ls-s3{:rel => "slidedirection: fade; scalein: 4; delayin: 4000; easingin: easeOutExpo;", :style => "left: 363px; top: 385px; color: #ffffff; font-size: 13px; padding: 5px 10px;"}
        Firefox
      %img.ls-s-1{:alt => "", :rel => "slidedirection: top; slideoutdirection: right; rotateout: 180; rotatein: -360; durationout: 1500; durationin: 2000; delayin: 2500; delayout: 1000; easingin: easeOutBounce;", :src => "/assets/demo/slides/dynamic/safari.png", :style => "left: 462px; top: 280px;"}/
      .ls-s3{:rel => "slidedirection: fade; scalein: 4; delayin: 4000; easingin: easeOutExpo;", :style => "left: 486px; top: 385px; color: #ffffff; font-size: 13px; padding: 5px 10px;"}
        Safari
      %img.ls-s-1{:alt => "", :rel => "slidedirection: top; slideoutdirection: right; rotateout: 180; rotatein: 360; durationout: 1500; durationin: 2000; delayin: 2000; delayout: 1000; easingin: easeOutBounce;", :src => "/assets/demo/slides/dynamic/opera.png", :style => "left: 582px; top: 280px;"}/
      .ls-s3{:rel => "slidedirection: fade; scalein: 4; delayin: 4000; easingin: easeOutExpo;", :style => "left: 605px; top: 385px; color: #ffffff; font-size: 13px; padding: 5px 10px;"}
        Opera
      %img.ls-s-1{:alt => "", :rel => "slidedirection: top; slideoutdirection: right; rotateout: 180; rotatein: -360; durationout: 1500; durationin: 2000; delayin: 1500; delayout: 1000; easingin: easeOutBounce;", :src => "/assets/demo/slides/dynamic/ie.png", :style => "left: 702px; top: 280px;"}/
      .ls-s3{:rel => "slidedirection: fade; scalein: 4; delayin: 4000; easingin: easeOutExpo;", :style => "left: 730px; top: 385px; color: #ffffff; font-size: 13px; padding: 5px 10px;"}
        IE 8
      .ls-s-1{:rel => "slidedirection: fade; slideoutdirection: left; delayout: 1000; durationin: 2000; durationout: 500;", :style => "padding: 10px 20px; border-radius: 3px; background-color: #ffffff; font-weight: 300; font-size: 26px; color: #181818; white-space: nowrap; left: 50%; top: 90px;"}
        You can manage your load from anywhere!
    / LayerSlider layer (Green Planet)
    .ls-layer{:style => "slidedelay: 5000; delayout: 1200; transition2d: all;"}
      / LayerSlider background
      %img.ls-bg{:alt => "", :src => "/assets/demo/slides/dynamic/bg_3.jpg"}/
      / LayerSlider sublayers
      %img.ls-s-1{:alt => "", :rel => "slidedirection: right; slideoutdirection: right; scalein: 0.5; rotatein: -32; rotateout: -32; durationout: 2000; durationin: 2000; easingin: easeOutQuad;", :src => "/assets/demo/slides/dynamic/earth.png", :style => "left: 382px; top: 60px;"}/
      .ls-s-1{:rel => "slidedirection: fade; slideoutdirection: left; rotatein: 180; delayin: 2000;", :style => "padding: 10px 20px; border-radius: 3px; background-color: #3d5066; font-weight: 300; font-size: 26px; color: #ffffff; white-space: nowrap; left: 80px; top: 90px;"}
        So what are you waiting for?
      .ls-s-1{:rel => "slidedirection: left; slideoutdirection: fade; scaleout: 4; delayin: 2800;", :style => "padding: 10px 20px; border-radius: 3px; background-color: #ffffff; font-weight: 300; font-size: 20px; color: #181818; white-space: nowrap; left: 80px; top: 160px;"}
        = link_to t(:try_us_free), prices_path, :style => "color: #181818;"
  / LayerSlider end
/ End Slider Wrap
/ Content
.content
  = render '/shared/promo'
  / End Highlight
  / Start Content
  .container.main
    -#.row
      / Feature Text
      .one-third.column
        .feature-text.dotted
          .text
            %h4.caption
              %span.icon
                %i.icon-iphone
              Fully Responsive Layout
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore et dolore magna aliqua.
      / End Feature Text
      / Feature Text
      .one-third.column
        .feature-text.dotted
          .text
            %h4.caption
              %span.icon
                %i.icon-eye-open
              Sharp, Retina Ready Design
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
      / End Feature Text
      / Feature Text
      .one-third.column
        .feature-text.dotted
          .text
            %h4.caption
              %span.icon
                %i.icon-dislikes
              Premium Plugins Included
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
      / End Feature Text
    -#.row
      %h3.title
        %span Featured Work
      .portfolio-items.clearfix
        / Portfolio Item
        .four.columns
          .portfolio-item
            %figure.item-image
              %img{:alt => "", :src => "/assets/demo/work/child.jpg"}/
              %span.overlay
                %span.overlay-links
                  %a{:href => "portfolio-single.html"}
                    %i.icon-link
                  %a{:href => "/assets/demo/work/child.jpg", :rel => "magnific-popup", :title => "Hiding From Danger"}
                    %i.icon-search
            .item-info
              %h5.item-title
                %a{:href => "portfolio-single.html"} Hiding From Danger
              %span.item-tags wordpress / coding / seo
        / End Portfolio Item
        / Portfolio Item
        .four.columns
          .portfolio-item
            %figure.item-image
              %img{:alt => "", :src => "/assets/demo/work/field.jpg"}/
              %span.overlay
                %span.overlay-links
                  %a{:href => "portfolio-single.html"}
                    %i.icon-link
                  %a{:href => "demo/work/field.jpg", :rel => "magnific-popup", :title => "Working Forever"}
                    %i.icon-search
            .item-info
              %h5.item-title
                %a{:href => "portfolio-single.html"} Working Forever
              %span.item-tags wordpress / coding / seo
        / End Portfolio Item
        / Portfolio Item
        .four.columns
          .portfolio-item
            %figure.item-image
              %img{:alt => "", :src => "/assets/demo/work/mask.jpg"}/
              %span.overlay
                %span.overlay-links
                  %a{:href => "portfolio-single.html"}
                    %i.icon-link
                  %a{:href => "demo/work/mask.jpg", :rel => "magnific-popup", :title => "Multiple Identities"}
                    %i.icon-search
            .item-info
              %h5.item-title
                %a{:href => "portfolio-single.html"} Multiple Identities
              %span.item-tags wordpress / coding / seo
        / End Portfolio Item
        / Portfolio Item
        .four.columns
          .portfolio-item
            %figure.item-image
              %img{:alt => "", :src => "/assets/demo/work/tongue.jpg"}/
              %span.overlay
                %span.overlay-links
                  %a{:href => "portfolio-single.html"}
                    %i.icon-link
                  %a{:href => "demo/work/tongue.jpg", :rel => "magnific-popup", :title => "Hulk's Tongue"}
                    %i.icon-search
            .item-info
              %h5.item-title
                %a{:href => "portfolio-single.html"} Hulk's Tongue
              %span.item-tags wordpress / coding / seo
        / End Portfolio Item
    .nine.columns
      / Feature Text
      .feature-text.dotted
        .text
          %h4.caption
            = image_tag 'myicons/mange.png', :width => '50'
            Manage your trucks, trailers, drivers, And Brokers
          As you run your business, it is easy to stay on top of today’s loads.
          What if you need to remember what happened last week, last month, or even last year?
          There are times when you need to know where a driver has been, not just where he is at. When a customer calls, you want to be able to quickly know all the loads you have run for them.
          GoTruckerGO puts all this information at your fingertips.
      / End Feature Text
      .feature-text.dotted
        .text
          %h4.caption
            = image_tag '/assets/css/icons/icol32/paid.png', :width => '50'
            Track your money like an accountant
          Creating an invoice has never been so easy.
          We know that you are not an accountant.  With GoTruckerGo, you can quickly see who has paid and who hasn’t. It alerts you when customers go over 30 days on an outstanding invoice.
          So come try out GoTruckerGO.
      / End Feature Text
      / Feature Text
      -#.one-third.column
        .feature-text.dotted
          .text
            %h4.caption
              %span.icon
                %i.icon-eye-open
              Keep track of your trucks where every they are at.
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
      / End Feature Text
    .seven.columns
      .row
        %h3.title
          %span Testimonials
        / Testimonial
        .testimonial
          .text
            %article
              %p The system works great for us and the support we get from your team has been excellent.
              %p.author
                John Connor
                %span Custom Built
            %article
              %p Our experience has been nothing but pleasurable,  go trucker go. has exceeded our expectations.
              %p.author
                Sarah Moorehouse
                %span Nyc Transport
            %article
              %p This system is great for trucking businesses. It is fairly easy to learn and has lots to offer. I have yet to stop learning new things from this system.
              %p.author
                Brandon Roy
                %span J.B. Hunt Transport
            %article
              %p The Go Trucker Go software has been a great success for our fleet. We currently operate a transportation company with a fleet of 10 trucks. The quick-preview really helps us to keep an eye on our equipment and load orders at all times.
              %p.author
                Sidney Grace
                %span Boyle Transportation
          .photo
            .photo-holder
              %img{:alt => "", :src => "/assets/demo/testimonial/1.jpg"}/
              %img{:alt => "", :src => "/assets/demo/testimonial/2.jpg"}/
              %img{:alt => "", :src => "/assets/demo/testimonial/3.jpg"}/
              %img{:alt => "", :src => "/assets/demo/testimonial/4.jpg"}/
            %span.next
              %i.icon-angle-left
            %span.prev
              %i.icon-angle-right
        / End Testimonial
/ End Content

