= simple_form_for([:users, invoice], :html => {:class => 'form-horizontal' }) do |f|
  = f.input :shipment_id, :label => false, :as => :hidden, input_html: { value: "#{shipment.id if shipment}" }

  .mws-form-row
    %label.mws-form-label= t(:invoice_number)
    .mws-form-item
      = f.input :invoice_number, :label => false
  .mws-form-row
    %label.mws-form-label= t(:load_number)
    .mws-form-item
      - if shipment
        = f.input :load_number, :label => false, input_html: { value: "#{shipment.load_number if shipment}" }
      - else
        = f.input :load_number, :label => false
  .mws-form-row
    %label.mws-form-label= t(:price)
    .mws-form-item
      - if shipment
        = f.input :price, :label => false, input_html: { value: "#{shipment.price if shipment}" }
      - else
        = f.input :price, :label => false
  .mws-form-row
    %label.mws-form-label= t(:paid_status)
    .mws-form-item
      - if shipment
        = f.input :paid_status, :collection => paid_status_list,  :as => :select, include_blank: false, :label => false, input_html: { value: "#{shipment.paid_status if shipment}" }
      - else
        = f.input :paid_status, :collection => paid_status_list,  :as => :select, include_blank: false, :label => false
  .mws-form-row
    %label.mws-form-label= t(:paid_date)
    .mws-form-item
      - if shipment
        = f.input :paid_date, :label => false, input_html: { value: "#{shipment.paid_date if shipment}", :class => 'datepicker' }
      - else
        = f.input :paid_date, :label => false, input_html: { :class => 'datepicker' }
  -#.mws-form-row
    %label.mws-form-label= t(:load_conformation)
    .mws-form-item
      - if shipment
        = f.input :load_conformation, :label => false, input_html: { value: "#{shipment.load_conformation if shipment}" }
      - else
        = f.input :load_conformation, :label => false
  .mws-form-row
    %h2 Broker
  .mws-form-row
    %label.mws-form-label= t(:name)
    .mws-form-item
      - if shipment
        = f.input :broker_id, :as => :hidden, :label => false, input_html: { value: "#{shipment.broker.id if shipment && shipment.broker}" }
      - if shipment
        = f.input :broker_name, :label => false, input_html: { value: "#{shipment.broker.name if shipment && shipment.broker}" }
      - else
        = f.input :broker_name, :label => false
  .mws-form-row
    %label.mws-form-label= t(:address)
    .mws-form-item
      - if shipment
        = f.input :broker_address, :label => false, input_html: { value: "#{shipment.broker.address if shipment && shipment.broker}" }
      - else
        = f.input :broker_address, :label => false
  .mws-form-row
    %label.mws-form-label= t(:address2)
    .mws-form-item
      - if shipment
        = f.input :broker_address2, :label => false, input_html: { value: "#{shipment.broker.address2 if shipment && shipment.broker}" }
      - else
        = f.input :broker_address2, :label => false
  .mws-form-row
    %label.mws-form-label= t(:city)
    .mws-form-item
      - if shipment
        = f.input :broker_city, :label => false, input_html: { value: "#{shipment.broker.city if shipment && shipment.broker}" }
      - else
        = f.input :broker_city, :label => false
  .mws-form-row
    %label.mws-form-label= t(:state)
    .mws-form-item
      - if shipment
        = f.input :broker_state, :collection => us_states,  :as => :select, include_blank: true, :label => false, :selected => "#{shipment.broker.state if shipment && shipment.broker}"
      - else
        = f.input :broker_state, :collection => us_states,  :as => :select, include_blank: true, :label => false
  .mws-form-row
    %label.mws-form-label= t(:zip)
    .mws-form-item
      - if shipment
        = f.input :broker_zip, :label => false, input_html: { value: "#{shipment.broker.zip if shipment && shipment.broker}" }
      - else
        = f.input :broker_zip, :label => false
  .mws-form-row
    %label.mws-form-label= t(:phone)
    .mws-form-otem
      - if shipment
        = f.input :broker_phone, :label => false, input_html: { value: "#{shipment.broker.zip if shipment && shipment.broker}" }
      - else
        = f.input :broker_phone, :label => false
  .mws-form-row
    %label.mws-form-label= t(:fax)
    .mws-form-item
      - if shipment
        = f.input :broker_fax, :label => false, input_html: { value: "#{shipment.broker.fax if shipment && shipment.broker}" }
      - else
        = f.input :broker_fax, :label => false
  .mws-form-row
    %h2 Pick up / Delivery
  .mws-form-row
    %label.mws-form-label= t(:pick_up_location_city)
    .mws-form-item
      - if shipment
        = f.input :pick_up_location_city, :label => false, input_html: { value: "#{shipment.pick_up_location_city if shipment}" }
      - else
        = f.input :pick_up_location_city, :label => false
  .mws-form-row
    %label.mws-form-label= t(:pick_up_location_state)
    .mws-form-item
      - if shipment
        = f.input :pick_up_location_state, :collection => us_states,  :as => :select, include_blank: true, :label => false, :selected => "#{shipment.pick_up_location_state if shipment && shipment}"
      - else
        = f.input :pick_up_location_state, :collection => us_states,  :as => :select, include_blank: true, :label => false
  .mws-form-row
    %label.mws-form-label= t(:pic_up_date)
    .mws-form-item
      - if shipment
        = f.input :pick_up_date, :label => false, input_html: { value: "#{shipment.pick_up_date if shipment}", :class => 'datepicker' }
      - else
        = f.input :pick_up_date, :label => false, input_html: {:class => 'datepicker' }

  .mws-form-row
    %label.mws-form-label= t(:delivery_location_city)
    .mws-form-item
      - if shipment
        = f.input :delivery_location_city, :label => false, input_html: { value: "#{shipment.delivery_location_city if shipment}" }
      - else
        = f.input :delivery_location_city, :label => false
  .mws-form-row
    %label.mws-form-label= t(:delivery_location_state)
    .mws-form-item
      - if shipment
        = f.input :delivery_location_state, :collection => us_states,  :as => :select, include_blank: true, :label => false, :selected => "#{shipment.delivery_location_state if shipment && shipment}"
      - else
        = f.input :delivery_location_state, :collection => us_states,  :as => :select, include_blank: true, :label => false
  .mws-form-row
    %label.mws-form-label= t(:deliver_date)
    .mws-form-item
      - if shipment
        = f.input :deliver_date, :label => false, input_html: { value: "#{shipment.deliver_date if shipment}", :class => 'datepicker' }
      - else
        = f.input :deliver_date, :label => false, input_html: { :class => 'datepicker' }
  .mws-form-row
    %h2 Fees
  .mws-form-row
    %label.mws-form-label= t(:lumper)
    .mws-form-item
    = f.input :lumper_fee, :label => false
  .mws-form-row
    %label.mws-form-label= t(:detention)
    .mws-form-item
    = f.input :detention_fee, :label => false
  .mws-form-row
    %label.mws-form-label= t(:unloading)
    .mws-form-item
    = f.input :unloading_fee, :label => false
  .mws-form-row
    %label.mws-form-label= t(:reconsignment)
    .mws-form-item
    = f.input :reconsignment_fee, :label => false
  .mws-form-row
    .mws-form-item
    = f.button :submit, :class => 'pull-right btn btn-info'
