!!!
/[if lt IE 7] <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="lt-ie9" lang="en">
/ [if gt IE 8]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag 'user_application', :media => "all"
    %link{:href => "/assets/plugins/cleditor/jquery.cleditor.css?body=1", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %title
      = yield :pagetitle
      | Go Trucker Go
  %body
    / Header
    #mws-header.clearfix
      / Logo Container
      #mws-logo-container
        / Logo Wrapper, images put within this wrapper will always be vertically centered
        #mws-logo-wrap
          = image_tag 'logo_white.png', :alt => t(:go_trucker_go), :class => 'pull-left'
          - if current_account.photo?
            = image_tag current_account.photo, :alt => current_account.name.titleize, :class => 'pull-right'
      / User Tools (notifications, logout, profile, change password)
      #mws-user-tools.clearfix
        / Notifications
        #mws-user-info.mws-inset
          / User Photo
          #mws-user-photo
            - if current_user.photo_url
              = image_tag current_user.photo.thumb, :alt => current_user.full_name
            - else
              = image_tag '/assets/example/profile.jpg', :alt => current_user.full_name

          / Username and Functions
          #mws-user-functions
            #mws-username
              Hello,
              = current_user.full_name
            %ul
              %li
                = link_to 'Profile', edit_users_profile_path(current_user)
              %li
                = link_to 'Logout', destroy_user_session_path, :method => :delete
    #mws-wrapper
      / Necessary markup, do not remove
      #mws-sidebar-stitch
      #mws-sidebar-bg
      / Sidebar Wrapper
      #mws-sidebar
        / Hidden Nav Collapse Button
        #mws-nav-collapse
          %span
          %span
          %span
        / Searchbox
        / Main Navigation
        #mws-navigation
          %ul
            %li{:class => "#{'active' if params[:controller] == 'users/dashboards' }"}
              = link_to users_dashboard_path do
                %i.icol32-dashboard
                Dashboard
            - if current_user.is_owner
              %li{:class => "#{'active' if params[:controller] == 'users/users' }"}
                = link_to users_users_path do
                  %i.icol32-user
                  User
            - if current_user.is_owner
              %li{:class => "#{'active' if params[:controller] == 'users/accounts' }"}
                = link_to users_account_path(current_account) do
                  %i.icol32-accounts
                  Account
            %li{:class => "#{'active' if params[:controller] == 'users/trailers' }"}
              = link_to users_trailers_path do
                %i.icol32-trailers
                Trailers
            %li{:class => "#{'active' if params[:controller] == 'users/trucks' }"}
              = link_to users_trucks_path do
                %i.icol32-truck
                Trucks
            %li{:class => "#{'active' if params[:controller] == 'users/drivers' }"}
              = link_to users_drivers_path do
                %i.icol32-drivers
                Drivers
            %li{:class => "#{'active' if params[:controller] == 'users/brokers' }"}
              = link_to users_brokers_path do
                %i.icol32-brokers
                Brokers
            %li{:class => "#{'active' if params[:controller] == 'users/shipments' }"}
              = link_to users_shipments_path do
                %i.icol32-shipments
                Shipments
            %li{:class => "#{'active' if params[:controller] == 'users/invoices' }"}
              = link_to users_invoices_path do
                %i.icol32-invoices
                Invoices
            %li{:class => "#{'active' if params[:controller] == 'users/receipts' }"}
              = link_to users_receipts_path do
                %i.icol32-credit-card
                Receipts
            %li{:class => "#{'active' if params[:controller] == 'users/repairs' }"}
              = link_to users_repairs_path do
                %i.icol32-repairs
                Repairs
      / Main Container Start
      #mws-container.clearfix
        / Inner Container Start
        .container
          .mws-stat-container.clearfix
            / Statistic Item
            = link_to users_drivers_path, :class => 'mws-stat' do
              / Statistic Icon (edit to change icon)
              %span.mws-stat-icon.icol32-drivers
              / Statistic Content
              %span.mws-stat-content
                %span.mws-stat-title Drivers
                %span.mws-stat-value
                  = current_account.drivers.count
            = link_to users_trucks_path, :class => 'mws-stat' do
              / Statistic Icon (edit to change icon)
              %span.mws-stat-icon.icol32-truck
              / Statistic Content
              %span.mws-stat-content
                %span.mws-stat-title Trucks
                %span.mws-stat-value
                  = current_account.trucks.count
            = link_to users_trailers_path, :class => 'mws-stat' do
              / Statistic Icon (edit to change icon)
              %span.mws-stat-icon.icol32-trailers
              / Statistic Content
              %span.mws-stat-content
                %span.mws-stat-title Trailer
                %span.mws-stat-value
                  = current_account.trailers.count
            = link_to users_brokers_path, :class => 'mws-stat' do
              / Statistic Icon (edit to change icon)
              %span.mws-stat-icon.icol32-brokers
              / Statistic Content
              %span.mws-stat-content
                %span.mws-stat-title Total Brokers
                %span.mws-stat-value
                  = current_account.brokers.count
            = link_to users_shipments_path, :class => 'mws-stat' do
              / Statistic Icon (edit to change icon)
              %span.mws-stat-icon.icol32-paid
              / Statistic Content
              %span.mws-stat-content
                %span.mws-stat-title Paid Sales
                %span.mws-stat-value
                  = number_to_currency( current_account.invoices.sum(:price,:conditions=> "paid_status = 'paid'" ) )
            = link_to users_shipments_path, :class => 'mws-stat' do
              / Statistic Icon (edit to change icon)
              %span.mws-stat-icon.icol32-unpaid
              / Statistic Content
              %span.mws-stat-content
                %span.mws-stat-title Unpaid Sales
                %span.mws-stat-value
                  = number_to_currency( current_account.invoices.sum(:price,:conditions=> "paid_status = 'unpaid'" ) )
            = link_to users_receipts_path, :class => 'mws-stat' do
              / Statistic Icon (edit to change icon)
              %span.mws-stat-icon.icol32-credit-card
              / Statistic Content
              %span.mws-stat-content
                %span.mws-stat-title Receipts
                %span.mws-stat-value
                  = number_to_currency( current_account.receipts.sum(:cost) )
            = link_to users_repairs_path, :class => 'mws-stat' do
              / Statistic Icon (edit to change icon)
              %span.mws-stat-icon.icol32-repairs
              / Statistic Content
              %span.mws-stat-content
                %span.mws-stat-title Repairs
                %span.mws-stat-value
                  = number_to_currency( current_account.repairs.sum(:total) )
            -#= link_to '#', :class => 'mws-stat' do
              / Statistic Icon (edit to change icon)
              %span.mws-stat-icon.icol32-credit-card
              / Statistic Content
              %span.mws-stat-content
                %span.mws-stat-title Weelly Receipts
                %span.mws-stat-value $14531
        - unless flash[:notice].blank?
          .container
            #notice
              %h3= flash[:notice]
            %br
        - unless flash[:error].blank?
          .container
            #error
              %h3= flash[:error]
            %br
        - unless flash[:alert].blank?
          .container
            #alert
              %h3= flash[:alert]
            %br
        .container
          = yield
        / Panels Start
        / Inner Container End
        / Footer
        #mws-footer
          Copyright 
          Go Trucker Go
          = Time.now.strftime('%Y')
          All Rights Reserved.
          .pull-left
            Support#
            =t(:tollfree)
      / Main Container End
    / JavaScript Plugins
    = javascript_include_tag "user_application"
    %script{:src => "/assets/plugins/cleditor/jquery.cleditor.js?body=1", :type => "text/javascript"}
    %script{:src => "/assets/plugins/cleditor/jquery.cleditor.table.js?body=1", :type => "text/javascript"}
    %script{:src => "/assets/plugins/cleditor/jquery.cleditor-xhtml.js?body=1", :type => "text/javascript"}
    %script{:src => "/assets/plugins/cleditor/jquery.cleditor.icon.js?body=1", :type => "text/javascript"}
    = render '/shared/uservoise'
    = yield :page_footer
